@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    overscroll-behavior: none;
    touch-action: pan-x pan-y;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 768px) {
    input, select, textarea {
        font-size: 16px !important;
    }

    #root {
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
}

html {
    overscroll-behavior-y: contain;
}